<!DOCTYPE html>
<html>
  <head>
    <title>Stay2App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<header>
<% if user_signed_in? %> 
  <div><%= link_to "トップ",rooms_path,class: "text-white" %></div>
   <div><%= link_to "ルーム登録",new_room_path %></div>
  <div><%= link_to "予約済みルーム一覧",reservations_path %></div>
  <div><%= link_to "登録済みルーム一覧",rooms_register_path %></div>
  <div><%= link_to "設定",users_account_path %></div>
  <div><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-white" %></div>
<% else %>
  <div><%= link_to "ログイン",user_session_path %></div>
  <div><%= link_to "新規登録", new_user_registration_path %></div>
<% end %>
</header>
 
    <%= yield %>
  </body>
</html>
